<header>
  <ul>
    <li><%= link_to 'Daily Session Document', Settings.links.daily_session_document %></li>
    <li><%= link_to 'Reference Table', Settings.links.reference_table %></li>
  </ul>
</header>
