
<div class="text-center">
  <%= image_tag('GitHub-Mark-120px-plus.png', size: 80) %><br><br>
  <p>
    <%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path, class: 'btn btn-secondary' %>
  </p>
</div>
