<div class="container-fluid">
  <div class="row">
    <div class="col">
      <center>
        <%= render partial: 'shared/login_with_github' %>
      </center>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4 offset-4">
      <!-- <center><h4>Leaderboard</h4></center> -->
      <ol>
        <% @leaders = User.all.sort_by do |u| u.total_points end.reverse %>
        <% @leaders.each do |u| %>
          <li>
            <%= u.name %>
            <%= render partial: 'users/profile_pic', locals: {user: u, size: 25} %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
