<div class="container-fluid">
  <div class="row">
    <div class="col">





      <center>
        <%= render partial: 'hello' %>
      </center>

      <%= current_user.attendances.inspect %>
    </div>
  </div>
</div>




